  <div class="rb-c-transactions-options-select">
        <a class="tool-bar-h4 rb-u-cursor--pointer"
            (click)="openAddAssignment()">
              {{ 'ASSIGNMENTS.ADD_NEW' | translate }}
        </a>
  </div>
  <rise-assignments-filters
   [filters]="filters"
   [riseUserData]="riseUserData"
   [fetchUnits]="fetchUnits.bind(this)"
   [fetchAssignmentCategories]="fetchAssignmentCategories.bind(this)"
   (submittedFilters)="setFilters($event)"
  >
  </rise-assignments-filters>

  <div class="rb-u-gap-bottom">
    <mat-divider></mat-divider>
  </div>

  <rise-assignments-table
    [data]="data"
    [riseUserData]="riseUserData"
    (tableUpdated)="fetchAssignments($event)"
    (downloadPdfTriggered)="downloadPDF($event)"
    (activateAssignmentTriggered)="openActivateAssignmentDialog($event)"
    (deactivateAssignmentTriggered)="openDeactivateAssignmentDialog($event)"
    (deleteAssignmentTriggered)="openDeleteAssignmentDialog($event)"
    (editAssignmentTriggered)="openEditAssignmentDialog($event)"
    (gotoAssignment)="gotoAssignment($event)"
    (exportFileTriggered)="exportFile($event)"
    (reassignAssignmentTriggered)="reassignAssignmentDialog($event)"
  >
  </rise-assignments-table>
